<h2>Welcome <%= @user.first_name %>!</h2>

<ul id="badge-list" class="badge-list">

</ul>

<div id="badge-list" class="badge-detail">

</div>

<script type="template" class="badge-list-template">

</script>