<%= include_gon %>

<h2>Welcome <%= @user.first_name %>!</h2>

<button><%= link_to "Add a Badge", new_user_badge_path(@user) %></button>

<ul id="badge_list" class="badge-list">
  
</ul>

<script type="text/template" class="badgetemplate">
  <%%= badge.get("title") %>
</script>