<%= include_gon %>

<h1>Welcome <%= @user.first_name %>!</h1>

<h2>Badges</h2>

<button><%= link_to "Add a Badge", new_user_badge_path(@user) %></button>

<ul id="badge_list" class="badge-list">
  
</ul>

<script type="text/template" class="badgetemplate">
  <li>
    <a href="<%= @user.id %>/badges/<%%= badge.get('id') %>" id="badge<%%= badge.get('id') %>"><%%= badge.get('title') %></a>
  </li>

</script>